# OS or Editor folders
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-grunt.cache
*.sublime-project
*.sublime-workspace
._*
.cache
.DS_Store
.project
.settings
.tmproj
Thumbs.db

# Numerous always-ignore extensions
*.bak
*.diff
*.err
*.exe
*.log
*.orig
*.rej
*.sass-cache
*.swo
*.swp
*.vi
*~

# Folders to ignore
.CVS
.git
.hg
.idea
.svn
bower_components
/test
test

# Node.JS
node_modules
npm-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn-integrity
selenium-debug.log